@font-face {
  font-family: "KyivType Sans";
  src: url("/public/KyivType-NoVariable/WEB/KyivTypeSans-Regular-.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "KyivType Sans";
  src: url("/public/KyivType-NoVariable/WEB/KyivTypeSans-Medium-.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "KyivType Sans";
  src: url("/public/KyivType-NoVariable/WEB/KyivTypeSans-Bold-.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "KyivType Sans";
  src: url("/public/KyivType-NoVariable/WEB/KyivTypeSans-Black-.woff2")
    format("woff2");
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: "KyivType Sans", sans-serif;
}
